:root {
    --text-color:#000000;
    --text-color-revers:#ffffff;
    --section-color-white:#ffffff;
    --section-color-grey:#e0e0e0;
    --footer-color:#727586;
}

* {
    box-sizing: 0;
}

body {
    margin: 0;
    font-family: 'Assistant', sans-serif;
    background-color: var(--section-color-white);
}

header {
    position: fixed;
    display: flex;
    width: 300px;
    height: 400px;
    z-index: 1;
}

.menu {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 0 0 15px 0;
    transition: all 0.3s ease-in-out;
}

#menuContent {
    padding-top: 70px;
    padding-left: 60px;
    opacity: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    transition: all 0.3s ease-in-out;
}

.icoPop {
    width: 30px;
}

.aboutLink {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: var(--text-color);
    text-decoration: none;
    font-size: 24px;
}

.aboutLink:hover {
    color: #feab8b;
}

.menuButton {
    position: fixed;
    width: 50px;
}

.navigation {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.progress{
    height:10px;
    background: #000;
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
}
  .progress__highlight{
    transition: width 0.15s linear;
    background:#03c4ae;
    height:100%;
    width:0%;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.backgroundContainer {
    width: 100%;
    height: 20%;
}

.headerImg {
    width: 100%;
    height: 50vb;
    object-fit: cover;
    object-position: 0 100;
}

.photoPosition {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    position: absolute;
    top: 32%;
}

.photo {
    border-radius: 50%;
    background-color: var(--section-color-white);
    border: 10px solid var(--section-color-white);
    width: 200px;
}

.mainInfo {
    background-color: var(--section-color-white);
    width: 100%;
    height: 100%;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fio {
    font-size: 48px;
}

.underFio {
    font-size: 24px;
}

.socialMain {
    padding: 20px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.socialMedia {
    border-radius: 50%;
    width: 40px;
}

.socialMediaItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    opacity: 0;
    transition: opacity 0.2s;
}

.socialMediaItem:hover {
    opacity: 1;
}


.pop {
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    background-color: var(--section-color-white);
    width: 40px;
    height: 30px;
    border-radius: 20px;
    transition: background-color 0.2s;
    transition: width 0.2s;
}

.pop:hover {
    background-color: #79abe7;
    width: 120px;
}

.pop:hover::after {
    content: "Twitter";
}

.pop2 {
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    background-color: var(--section-color-white);
    width: 40px;
    height: 30px;
    border-radius: 20px;
    transition: background-color 0.2s;
    transition: width 0.2s;
}

.pop2:hover {
    background-color: #79e7de;
    width: 120px;
}

.pop2:hover::after {
    content: "GitHub";
}

.pop3 {
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    background-color: var(--section-color-white);
    width: 40px;
    height: 30px;
    border-radius: 20px;
    transition: background-color 0.2s;
    transition: width 0.2s;
}

.pop3:hover {
    background-color: #ca79e7;
    width: 120px;
}

.pop3:hover::after {
    content: "Telegram";
}

.moveTo {
    text-decoration: none;
    color: var(--text-color);
}

.status {
    width: 50%;
    height: max-content;
    font-size: 24px;
    justify-content: center;
    text-align: center;
    padding-bottom: 5%;
}

.aboutContainer, .stackContainer, .profContainer {
    background-color: var(--section-color-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.header {
    font-size: 48px;
}

.textContainer {
    width: 50%;
    font-size: 24px;
    text-align: justify;
}

.stackContainer {
    background-color: var(--section-color-white);
}

ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

li {
    list-style-type: "・";
    text-indent: 10px;
}

.footerContainer {
    background-color: var(--footer-color);
    color: var(--section-color-white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.mailAdress {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border-radius: 20px;
    width: 420px;
    height: 60px;
    background-color: var(--footer-color);
    transition: background-color 0.2s;
}

.mailAdress:hover {
    background-color: #bea29f;
}

.socialMediaBottom {
    width: 30px;
    fill: var(--section-color-white);
}

.source {
    font-size: 24px;
}


.socialFooter {
    background-color: #ff8e88;
    width: 200px;
    transition: width 0.2s;
    height: 60px;
    border-radius: 20px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--section-color-white);
}

.socialFooter:hover {
    width: 250px;
}

.mdb {
    color: #3cb27d;
}

.expr {
    color: #e145ec;
}

.react {
    color: #7d75ee;
}

.node {
    color: #189d00;
}

.js {
    color: #ffe53b
}